@font-face {
    font-family: Lato;
    src: url("/fonts/Lato/Lato-Regular.ttf");
}


body {
    background-color: #eee;
    font-family: Lato;
}

.attributes p {
    margin-left: 5px;
}

.contenedor-barra {
    margin: auto;
    width: 80%;
    height: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
}

#progreso-español {
    border-radius: 10px;
    background-color:bisque;
    width: 100%;
    height: 10px;
}

#progreso-ingles {
    border-radius: 10px;
    background-color:bisque;
    width: 80%;
    height: 10px;
}

.contenedor-porcentajes {
    display: flex;
    justify-content: center;
}

.padre {
    display: flex;
    flex-direction: row;
    box-shadow: 1px 2px 4px 2px #232323;
    border-radius: 1em;
}

.padre .left {
    width: 20%;
    background-color: rgb(83, 79, 93);
    /* box-shadow: 0px 2px 4px 2px #232323; */
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    color: #fff;
}


.padre .left .descripcion {
    padding: 1em;
}

#contenedor-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 375px;
    height: 350px;
    border-radius: 15px;
    background-color: #d9d9d9;
    margin: 5px 5px;
    padding: 5px;
    
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100px;
    display: block;
    margin: 2px auto;
    border-radius: 50%;
}

.card h3 {
    text-align: center;
    margin: 5px;
}

.card p {
    margin: 5px 8px;
    
}

.padre .left .attributes h2 {
    background-color: rgb(56, 54, 62);
}

.padre .right {
    width: 80%;
    background-color: #fff;
    padding: 10px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    /* box-shadow: 0px 2px 4px 2px #232323; */
}

.left img {
    width: 170px;
    border-radius: 50%;
    display: block;
    margin: auto;
    transition: all 0.2s;
}

.left img:hover {
    transform: scale(1.1);
}

/* #trabajos h2 {
    background-color: aliceblue;
} */

.right p {
    text-align: justify;
}

#progreso-phyton{
    border-radius: 10px;
    background-color:bisque;
    width: 50%;
    height: 10px;
}

#progreso-html{
    border-radius:  10px; ;
    background-color: bisque;
    width: 75% ;
    height: 10px;
}
#progreso-office{
    border-radius:  10px; ;
    background-color: bisque;
    width: 100% ;
    height: 10px;
}

.FA {
    background-color: #FFF;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 4px solid purple;
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    width: ;
}

#Tablas{
    width: 100%;
    margin-top: 0;
    text-align: center;
    border-spacing: 1;
    border-collapse: collapse;
    border: 4px solid purple;
}

th,td,tr {
    border: 1px solid purple;
    padding: .3rem;
    /* border-spacing: 0; */
}

@media (max-width: 700px){
    .padre {
        flex-wrap: wrap;
        transition: 2.5s;
    }

    .padre .left {
        width: 100%;
        transition: .5s;
        border-bottom-left-radius: 0em;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    .padre .right {
        border-bottom-left-radius: 1em;
        margin: auto;
    }

    .card {
        margin: 10px auto;
    }
  .table {
    border: auto;
    margin: auto;
  }
  #Tablas{

  }
 
}